/*GLOBAL STYLES*/


p {
    
}

h1 {
    
}

body {
    margin:0px;
}

header{
    background-color:#800020;}
main{
    width:90%;
    background-color:#800020;
    text-align:center;
    margin:20px auto;
}
footer{
    height:150px;
    background-color:#800020;
    text-align:center;
    padding:40px;
}

/* ============ BUTTON STYLES ========== */

.button {
    background-color:#FF7900;
    padding:15px 23px;
    border-radius:6px;
    color:#FFFFFF;
    text-decoration:none;
}

.button:hover {
    background-color: #f44336;
}

/*OTHER STYLES*/

.imageCenter {
    display:block;
    margin:0px auto;
}
